

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body { 
  background: url(../img/Background-Photo.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
.nav-links {
	display: table;
	float: left;

}
.nav-button:hover {
	color: rgba(102, 0, 0, 0.6);;
}
.nav-button:focus {
	outline: none;
}
.nav-button {
	background-color: transparent;
	border: none;
	margin-top: 4.2px;
  margin-right: .7em;
}
.navbar-text {
	color: white;
}
.navbar-inverse {
	background: transparent;
	border-bottom: 0px;
  z-index: 10;
}
.navbar {
  z-index: 10;
  position: absolute;
}
.navbar-toggle {
	border: none;
}
#hamburger:hover {
	background-color: transparent;
	opacity: .8;
}
#footer {
	position:fixed;
	bottom:0;
	z-index:999999;
	text-align: center;
	display: inline;
	width:100%;
}
.footer-text {
	text-align: center;
	color: white;
}

#social li {
    list-style-type: none;
    text-align: center;
    padding: .5em;
    display: inline-block;
    margin: auto;

}
.social-wrapper {
    margin-top: 10px;
    text-align: right;
    z-index: 10000;
    position: absolute;
    top: 0;
    right: 0;

}

.social-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: transparent;
    text-align: center;
    padding-top: 8px;
    color: white;
    border: solid white 2px;
    opacity: .6;

}
.social-button:hover {
    color: white;
    background-color: rgba(102, 0, 0, 0.6);
    border: solid rgba(102, 0, 0, 0.1) 2px;
    opacity: 1;
     -webkit-box-shadow: 0 8px 6px -6px #333333;
       -moz-box-shadow: 0 8px 6px -6px #333333;
            box-shadow: 0 8px 6px -6px #333333;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin: 20px;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
.modal-content {
	background-color: rgba(0, 0, 0, 0.6); 
}
.modal-header {
  border-bottom: 0px;
}
.modal-title {
  font-size: 30px;
}
.close {
  color: white;
  text-shadow: none;
  font-weight: 700;
  font-size: 30px;
  margin:auto;
  opacity: 1;
  line-height: 1.42857143;
}
.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  right: 0;
  left: 0;
}
.nav-links {
    margin-top: 4em;
}

@media (max-width: 700px) {
  .social-wrapper {
    position: absolute;
    top: auto;
    bottom: 0;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    right: 0;
    left: 0;
    z-index: 0;
  }
  .social-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: transparent;
    text-align: center;
    padding-top: 8px;
    color: white;
    border: solid white 2px;
    opacity: 1;

  }
  .social-button:hover {
    color: white;
    background-color: rgba(102, 0, 0, 1);
    border: solid rgba(102, 0, 0, 1) 2px;
    opacity: 1;
     -webkit-box-shadow: 0 8px 6px -6px #333333;
       -moz-box-shadow: 0 8px 6px -6px #333333;
            box-shadow: 0 8px 6px -6px #333333;
  }

  .nav-links {
    margin-left: 15px;
    margin-top: 4em;
  }
}

@media (max-width: 375px) {
  .nav-button {
    background-color: transparent;
    border: none;
    margin-top: 4.2px;
    margin-right: 1px;
    margin-left: 0px;
  }
 
}
